[Unit]
Description=super simple indi-web service
Wants=network-online.target
After=network.target network-online.target

[Service]
User=seven
EnvironmentFile=-/etc/default/indi-web
WorkingDirectory=/home/seven/indi-web/
ExecStart=/home/seven/indi-web/venv/bin/python3 /home/seven/indi-web/venv/bin/indi-web --xmldir $XMLDIR

[Install]
WantedBy=multi-user.target


