[Desktop Entry]
Version=1.0
Type=Application
Name=INDI Web Interface
Comment=INDI Web Interface
Exec=/usr/bin/firefox http://localhost:8624/
Icon=software-properties
Path=
Terminal=false
StartupNotify=false