[Desktop Entry]
Version=1.0
Type=Application
Name=xgps
Comment=Display GPS information from a gpsd daemon
Exec=xgps
Icon=/usr/share/gpsd/icons/gpsd-logo.png
Path=
Terminal=false
StartupNotify=false